body,
html {
  margin: 0;
}

#container {
  width: 100%;
  height: 100%;
}
.play-area {
  width: 100%;
  height: 100%;
  padding: 20px 10vw;
  box-sizing: border-box;
  min-width: 1280px;
}
.play-area-top {
  width: 100%;
  height: 450px;
  color: #fff;
}
.play-area-bottom {
  width: 100%;
  height: 450px;
  background-color: #e9e9e9;
  justify-content: space-evenly;
  align-items: center;
}
.play-area-bottom p {
  font-weight: 700;
  font-size: 20px;
}

#text {
  width: 100%;
  height: 120px;
  line-height: 120px;
  background-color: dodgerblue;
  overflow: hidden;
  margin-bottom: 15px;
}
#text > span {
  height: 50px;
}
.button-container {
  width: 100%;
  height: 320px;
  position: relative;
}
#com-choice {
  transform: rotate(180deg);
}
.border-rad5 {
  border-radius: 5px;
}
.text-center {
  text-align: center;
}
.show {
  width: 320px;
  height: 320px;
}
.border-solid {
  border: 1px solid black;
}
.selected {
  transition: 0.2s ease;
  cursor: pointer;
}
.selected:hover {
  transform: scale(1.06);
}

.flex-row {
  display: flex;
  flex-direction: row;
}
.flex-column {
  display: flex;
  flex-direction: column;
}
.big-text {
  font-size: 30px;
  font-weight: 700;
}
.small-text {
  font-size: 18px;
  font-weight: 300;
}
.align-ceter {
  justify-content: center;
  align-items: center;
}
.border-rad15 {
  border-radius: 15px;
}
.margin-right5 {
  margin-right: 5px;
}
#show-result {
  text-align: center;
  line-height: 320px;
}
#text-container {
  width: 100%;
  height: 150px;
  line-height: 150px;
  color: #fff;
  transition: 0.3s ease;
  background-color: transparent;
  animation: showElem 2s ease;
}
#check-result {
  background-color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
}
#check-result:hover {
  opacity: 0.9;
}

#reset {
  background-color: #fff;
  cursor: pointer;
  width: 200px;
  height: 50px;
  text-align: center;
  line-height: 50px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 600;
  margin-left: 25px;
}

#reset:hover {
  opacity: 0.8;
}

.deactive-btn {
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: gray;
  opacity: 0.8;
  z-index: 10;
  display: none;
}

@keyframes showElem {
  0% {
    transform: translateY(50px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
